/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

header, footer {
    background-color: sandybrown;
    text-align: center;
}

footer p {
    font-size: 5pt;
    text-align: left;
}

.logo  {
    height: 50px;
}

.clef {
    height: 40px;
}

#g-clef {
    height: 50px;
}


